.container1 {
  display: flex;
  margin: 1%;
}

.container1 button {
  margin: 1%;
}

.container2 {
  display: flex;
  margin: 1%;
}

.container2 button {
  margin: 1%;
}

.container3 {
  display: flex;
  margin: 1%;
}

.container3 button {
  margin: 1%;
}

.container4 {
  display: flex;
  margin: 1%;
}

.container4 button {
  margin: 1%;
}
